.current-conditions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 10rem;
  padding: 2rem;
}

.details {
  width: 45rem;
}

.current-conditions .overview {
  margin-left: auto;
  text-align: right;
}

.current-conditions .overview .min-max-temp {
  font-size: 2rem;
}

.current-conditions .overview .temp {
  display: flex;
  justify-content: flex-end;
  font-size: 6rem;
  font-weight: var(--bold);
}

.current-conditions .overview .temp .metric {
  font-size: 5.5rem;
  font-weight: var(--normal);
  vertical-align: top;
}

.current-conditions .overview .summary {
  font-size: 1.8rem;
  font-weight: var(--normal);
}

@media screen and (max-width: 600px) {
  .details {
    display: none;
  }
}
