.today-weather {
  text-align: right;
  padding: 2rem;
}

.description {
  font-size: 1.3rem;
  padding: 0.7rem 0;
}

.min-max-temp {
  font-size: 2rem;
}

.temp {
  display: flex;
  justify-content: flex-end;
  font-size: 7rem;
  font-weight: var(--bold);
}
