.today-weather {
  text-align: right;
  padding: 2rem;
}

.today-weather .min-max-temp {
  font-size: 2rem;
}

.today-weather .temp {
  display: flex;
  justify-content: flex-end;
  font-size: 7rem;
  font-weight: var(--bold);
}

.today-weather .description {
  font-size: 1.3rem;
  padding: 0.7rem 0;
}
