.top-bar-fixed {
  position: fixed;
  width: var(--screen-width);
}

.top-bar-fixed .top-bar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 2rem 1rem;
}

.top-bar-fixed .top-bar .spin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.top-bar-fixed .top-bar .summary {
  font-size: 2.4rem;
  font-weight: var(--normal);
}

.top-bar-fixed .top-bar .summary .input-city {
  width: 20rem;
  font-family: inherit;
  font-size: 2.2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  outline: none;
  color: white;
}

.top-bar-fixed .top-bar .summary .time {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.top-bar-fixed .top-bar .summary .timezone {
  font-size: 1.1rem;
  padding: 0 1rem;
  opacity: 0.5;
}

.top-bar-fixed .top-bar .summary .description {
  font-size: 1.2rem;
  letter-spacing: 0;
  padding: 0.7rem 0;
}

.top-bar-fixed .top-bar .another-city {
  align-self: flex-start;
  padding-top: 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-in-out;
}

.top-bar-fixed .top-bar .another-city:hover {
  opacity: 0.9;
}

.top-bar-fixed .top-bar .error {
  position: absolute;
  right: 0;
  max-width: 50rem;
  margin: 1rem 2rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  background-color: rgba(255,255,255,0.1);
}

.top-bar-fixed .top-bar .error .message {
  color: orange;
  font-weight: var(--bold);
}

.top-bar-fixed .top-bar .error .close {
  position: absolute;
  top: 0.3rem;
  right: 0.9rem;
  font-weight: var(--bold);
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
