.top-bar-fixed {
  max-width: var(--screen-width);
}

.top-bar-fixed .top-bar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 1.5rem 1rem;
}

.top-bar-fixed .top-bar .spin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.top-bar-fixed .top-bar .summary {
  font-size: 2.1rem;
  font-weight: var(--normal);
}

.top-bar-fixed .top-bar .summary .input-city {
  width: 20rem;
  font-family: inherit;
  font-size: 2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  outline: none;
  color: white;
}

.top-bar-fixed .top-bar .summary .time {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

.top-bar-fixed .top-bar .summary .timezone {
  font-size: 1.1rem;
  padding: 0 1rem;
  opacity: 0.5;
}

.top-bar-fixed .top-bar .summary .description {
  font-size: 1.1rem;
  letter-spacing: 0;
  padding: 0.7rem 0;
}

.top-bar-fixed .top-bar .another-city {
  align-self: flex-start;
  padding-top: 1rem;
  font-size: 1.05rem;
  opacity: 0.8;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-in-out;
}

.top-bar-fixed .top-bar .another-city:hover {
  opacity: 0.9;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


@media screen and (max-width: 600px) {
  .top-bar-fixed .top-bar .summary .description {
    max-width: 250px;
  }

  .top-bar-fixed .top-bar .another-city {
    margin-left: auto;
  }
}
