<header class="top-bar-fixed">
  <div class="top-bar">
    <div [ngClass]="{'spin': cityBeingLoaded}">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
        <path fill="#fff" d="m14.92 22.84-5.639-8.121L1.16 9.08l21.5-7.741zM5.485 9.648l5.234 3.633 3.633 5.234 4.987-13.854z"/>
      </svg>
    </div>
    <h2 class="summary">
      <p *ngIf="!showInput">{{ city }}</p>
      <input
          #input_city
          id="input-city"
          class="input-city"
          autocomplete="off"
          *ngIf="showInput"
          (keypress)="restrictChars($event)"
          (keydown.enter)="navigateToCity(input_city.value.trim())"
          (keydown.escape)="closeInput()"
          (keydown.arrowDown)="city_autocomplete.moveDown()"
          (keydown.arrowUp)="city_autocomplete.moveUp()"
          (blur)="closeInput()"
          (input)="city_autocomplete.triggerAutocomplete(input_city.value)"
      />
      <app-city-autocomplete
          #city_autocomplete
          (onMove)="setSuggestion($event)"
          (onSelect)="navigateToCity($event)"
      >
      </app-city-autocomplete>
      <div>
        <span class="time">{{ time }} </span>
        <span class="timezone">{{ currentConditions?.timezone?.name }}</span>
      </div>
      <p class="description">{{ currentConditions?.description }}</p>
    </h2>
    <label class="another-city" for="input-city" (click)="showInput=true">
      <span>another city</span>
    </label>
    <app-error-alert></app-error-alert>
  </div>
</header>
