.autocomplete {
  position: absolute;
  z-index: 10;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #262626;
  background-color: rgba(255,255,255,0.9);
}

.autocomplete:focus {
  outline: none;
}

.autocomplete .item {
  display: flex;
  justify-content: space-between;
  min-width: 25rem;
  list-style-type: none;
  padding: 0 1rem;
  cursor: pointer;
}

.autocomplete .item .country {
  padding-left: 2rem;
  font-size: 1.1rem;
  color: gray;
}

.autocomplete .selected {
  background-color: lightgray;
}
