.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 3.4rem;
  border-bottom: 1px dotted rgba(255,255,255,0.2);
}

.row .label {
  padding-left: 0.5rem;
  font-size: 1.4rem;
}

.row .value {
  font-size: 1.5rem;
  font-weight: var(--bold);
}

.row .metric {
  padding-left: 0.2rem;
  font-size: 1.3rem;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .row {
    height: 3rem;
  }
}
