.bg-clear {
  background-image: url(../assets/bg/clear.jpg);
}

.bg-rain {
  background-image: url(../assets/bg/rain.jpg);
}

.bg-cloudy {
  background-image: url(../assets/bg/cloudy.jpg);
}

.bg-partly-cloudy {
  background-image: url(../assets/bg/partly-cloudy.jpg);
}

.bg-fog {
  background-image: url(../assets/bg/fog.jpg);
}

.bg-wind {
  background-image: url(../assets/bg/wind.jpg);
}

.bg-snow {
  background-image: url(../assets/bg/snow.jpg);
}

.visor-color-clear {
  background-color: rgba(5,49,99, 0.5);
}

.visor-color-rain {
  background-color: rgba(9,43,69, 0.3);
}

.visor-color-cloudy {
  background-color: rgba(50,60,60, 0.2);
}

.visor-color-partly-cloudy {
  background-color: rgba(20,60,80, 0.3);
}

.visor-color-fog {
  background-color: rgba(0,0,0, 0.3);
}

.visor-color-wind {
  background-color: rgba(12,67,19, 0.3);
}

.visor-color-snow {
  background-color: rgba(0,0,0, 0.5);
}

.background-back {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  background-size: 100% 100%;
  filter: blur(50px);
}

.background-front {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: 100% 100%;
}

.top-visor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10rem;
  font-size: 2rem;
}

.main-frame {
  position: fixed;
  left: 0;
  right: 0;
  width: var(--screen-width);
  height: 100%;
  margin: 0 auto;
}

.content {
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.main-conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), 10%, transparent, 75%, rgba(0, 0, 0, 0.8));
}

.forecast {
  background-color: var(--primary-background);
}
