.visor-color-clear {
  background-color: rgba(5,49,99, 0.3);
}

.visor-color-rain {
  background-color: rgba(9,43,69, 0.3);
}

.visor-color-cloudy {
  background-color: rgba(20,60,80, 0.3);
}

.visor-color-fog {
  background-color: rgba(0,0,0, 0.2);
}

.visor-color-wind {
  background-color: rgba(12,67,19, 0.1);
}

.visor-color-snow {
  background-color: rgba(50,50,50, 0.3);
}

.background-back {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  background-size: 100% 100%;
  filter: blur(50px);
}

.background-front {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: 100% 100%;
}

.background-default {
  background-image: url('/assets/bg/default.jpg');
  transition: all 2s;
}

.top-visor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10rem;
  font-size: 2rem;
}

.fixed-frame {
  position: fixed;
  left: 0;
  right: 0;
  width: var(--screen-width);
  height: 100%;
  margin: 0 auto;
}

.content {
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.content .today {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), 10%, transparent, 75%, var(--primary-background));
}

.content .forecast {
  background-color: var(--primary-background);
}

.content .forecast {
  padding: 1rem 2rem;
}

.content .forecast .header {
  padding: 1.5rem 1rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
