.content {
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--normal);
  letter-spacing: -0.05rem;
  color: white;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content .spinner {
  text-align: center;
}

.content::-webkit-scrollbar {
  display: none;
}

.content .current-conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), 10%, transparent, 75%, var(--primary-background));
}

.content .forecast {
  background-color: var(--primary-background);
}

.content .forecast {
  padding: 1rem 2rem;
}

.content .forecast .header {
  padding: 1.5rem 1rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
