<div [ngClass]="backgroundImageClass"  class="background-back"></div>
<div [ngClass]="backgroundImageClass" class="background-front main-frame"></div>
<div [ngClass]="visorColorClass" class="top-visor"></div>
<div class="content main-frame">
  <div class="today-frame">
    <app-top-bar [city]="city"></app-top-bar>
    <app-main-conditions [currentConditions]="currentConditions"></app-main-conditions>
  </div>
  <h1>HELLO</h1>
  <h1>HELLO</h1>
  <h1>HELLO</h1>
  <h1>HELLO</h1>
  <h1>HELLO</h1>
  <h1>HELLO</h1>
</div>
