<div class="background-back" [style.backgroundImage]="backgroundImagePath"></div>
<div class="background-front main-frame" [style.backgroundImage]="backgroundImagePath"></div>
<div [ngClass]="visorColorClass" class="top-visor"></div>
<div class="content main-frame">
  <div class="main-conditions">
    <app-top-bar [city]="city"></app-top-bar>
    <app-main-conditions [currentConditions]="currentConditions"></app-main-conditions>
  </div>
  <div class="forecast">
    <app-hours></app-hours>
  </div>
</div>
