<div class="background-back" [style.backgroundImage]="backgroundImagePath"></div>
<div class="background-front fixed-frame" [style.backgroundImage]="backgroundImagePath"></div>
<div [ngClass]="visorColorClass" class="top-visor"></div>
<div class="content fixed-frame">
  <div class="today">
    <app-top-bar></app-top-bar>
    <app-current-conditions></app-current-conditions>
  </div>
  <div class="forecast">
    <h2 class="header">Forecast</h2>
    <app-hours></app-hours>
    <app-days></app-days>
  </div>
</div>
