.hours {
  display: flex;
  column-gap: 0.6rem;
  overflow: auto;
  cursor: pointer;
  scrollbar-width: none;
  user-select: none;
}

.hours::-webkit-scrollbar {
  display: none;
}

.hours .hour {
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(255,255,255,0.05);
  list-style-type: none;
}

.hours .hour .icon {
  width: 6rem;
  margin: -1rem;
}

.hours .hour .time,
.hours .hour .temp {
  padding: 0.5rem 0;
}

.hours .hour .time {
  font-size: 1.2rem;
}

.hours .hour .temp {
  font-size: 1.5rem;
}
