.hours {
  padding: 1rem 2rem;
}

.hours .slider {
  display: flex;
  column-gap: 0.6rem;
  overflow: auto;
  cursor: pointer;
  user-select: none;
}

.hours .slider::-webkit-scrollbar {
  display: none;
}

.hours .slider .hour {
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
}

.hours .slider .hour .icon {
  width: 6rem;
  margin: -1rem;
}

.hours .slider .hour .time,
.hours .slider .hour .temp {
  padding: 0.5rem 0;
}

.hours .slider .hour .time {
  font-size: 1.2rem;
}

.hours .slider .hour .temp {
  font-size: 1.5rem;
}
