* {
  margin: 0;
  padding: 0;
  margin-block: 0;
}

:root {
  font-size: 10px;
  --screen-width: 1100px;
  --primary-background: rgba(0,0,0,0.7);
  --secondary-background: rgba(255,255,255,0.05);
  --normal: 400;
  --bold: 500;
}

html, body {
  height: 100%;
}

.fixed-frame {
  position: fixed;
  left: 0;
  right: 0;
  max-width: var(--screen-width);
  height: 100%;
  margin: 0 auto;
}
